footer.footer.mb-5
  hr.bottom-line
  .container
    .row 
      .col-12.col-sm-9
        .navbar.px-0.py-3
          .dropdown.mr-3
            a#dropdownMenuLanguage1.l-focus(href='#' role='button' data-toggle='dropdown' aria-expanded='false') 
              |Русский
              span.material-icons.md-20.align-sub.arrow-up expand_more
            .dropdown-menu.dropdown-menu-left(aria-labelledby='dropdownMenuLanguage1')
              a.dropdown-item(href='#') Українська
              a.dropdown-item(href='#') Русский
              a.dropdown-item(href='#') English
          ul.nav
            li.d-none.d-sm-block.nav__item.mr-3.my-3.my-md-0
              a(href="https://play.google.com/"): img(src="/images/svg/Component 3.svg", alt="")
            li.d-none.d-sm-block.nav__item.my-3.my-md-0
              a(href="https://www.apple.com/store"): img(src="/images/svg/Component 2.svg", alt="")
            
        ul.nav.nav-color
          li.d-sm-none: a(href="#") Услуги сайта
          li.d-sm-none: a(href="#") &nbsp;&middot;&nbsp;
          li: a(href="#") Ресурсы
          li: a(href="#") &nbsp;&middot;&nbsp;
          li: a(href="#") Контакты
          li: a(href="#") &nbsp;&middot;&nbsp;
          li: a(href="#") О нас
          li: a(href="#") &nbsp;&middot;&nbsp;
          li: a(href="#") Новости сайта 
          li: a(href="#") &nbsp;&middot;&nbsp;
          li: a(href="#") Условия использования
      .col-12.col-md-3.py-3
        button.d-none.d-md-block.btn.btn-outline-primary.font-weight-bold(type='button') Работодателю 
          span.material-icons.md-20.align-sub navigate_next
        button.d-md-none.btn.btn-outline-primary.font-weight-bold.arrow(type='button') Соискателю
    p.mb-5.mb-sm-0 © 2006–2016 Work.ua. Сайт поиска работы №1 в Украине.
    hr.mb-2
    .d-none.d-sm-block
      .navbar.px-0
        p 
          | Сделано в компании «
          a.text-danger(href="https://www.reactor.com.ua/") Реактор
          |».
        ul.nav.nav-color
          li: a(href="#") Образование
          li: a(href="#") &nbsp;&middot;&nbsp;
          li: a(href="#") Тренинги
          li: a(href="#") &nbsp;&middot;&nbsp;
          li: a(href="#") Typing tuto