main 
  .container 
    .content.pt-3.pb-5
      a(href="#") 
        span.arrow Личный раздел
      h2.font-weight-bold Вакансии и отклики
        a.ml-2.align-middle(href="#"): img(src="/images/svg/Vector (2).svg", alt="" width="19" height="19")
      h6.font-weight-bold.text-dark У вас еще нет вакансий.
      p.text-dark Чтобы начать активный поиск сотрудников, создайте ваши вакансии. Помните! Большинство соискателей не размещают резюме на сайте, а отправляют их прямо на найденные вакансии. Поэтому размещайте вакансии, и вы значительно увеличите шансы найти сотрудника.
      .content__vacancy.my-3
        button.btn.btn-success.px-4.py-2.mr-4(type='button') Создать вакансию
        span.text-nowrap.text-success Доступна 
          span.border-btm 21 из 630 публикаций
        
      