main 
  .container 
    .content.pt-3.pb-5.fs-17
      a: span.material-icons.md-20.align-sub chevron_left
        a(href="#") Личный раздел    
      h2.font-weight-bold Вакансии и отклики
        button.align-baseline.p-0(type='button' data-container='body' data-toggle='popover' data-placement='bottom' data-content='...')
          img(src="/images/svg/Vector (2).svg", alt="" width="19" height="19")
      h6.font-weight-bold.text-dark.fs-17 У вас еще нет вакансий.
      p.text-dark Чтобы начать активный поиск сотрудников, создайте ваши вакансии. Помните! Большинство соискателей не размещают резюме на сайте, а отправляют их прямо на найденные вакансии. Поэтому размещайте вакансии, и вы значительно увеличите шансы найти сотрудника.
      .vacancy.my-3
        span
          button.btn.btn-success.px-4.py-2.mr-4.fs-17(type='button') Создать вакансию
          span.text-nowrap.text-success.mr-2 Доступна 
            button.text-success.border-btm.p-0.ml-1(type='button'  data-toggle='popover' data-container='body' data-placement='bottom' data-content='...' ) 21 из 630 публикаций    