main.main
  .container 
    .main__content.pt-3.pb-4.fs-17
      a: span.material-icons.md-20.align-sub chevron_left
        a(href="#") Личный раздел         
      h2.font-weight-bold Вакансии и отклики
        button.align-baseline.p-0(type='button' data-container='body' data-toggle='popover' data-placement='bottom' data-content='...')
          img(src="/images/svg/Vector (2).svg", alt="" width="19" height="19")
      .vacancy.my-4
        span
          button.btn.btn-success.px-4.py-2.mr-4.fs-17(type='button') Создать вакансию
          span.text-nowrap.text-success.mr-2 Доступна 
            button.text-success.border-btm.p-0.ml-1(type='button' data-container='body' data-toggle='popover' data-placement='bottom' data-content='...') 21 из 630 публикаций
        ul.nav.align-items-center.mt-3.mt-lg-0
          li.my-1: a.l-focus(data-toggle='collapse' href='#collapseExample0' role='button' aria-expanded='false' aria-controls='collapseExample')  Только размещенные
                span.material-icons.md-20.align-sub.arrow-up expand_more
          li.text-muted &nbsp;&nbsp;&middot;&nbsp;
          li: form(action="#") 
                label.m-0(for="searchInput") 
                  a.ml-2(role='button'): img(src="/images/svg/Vector (3).svg", alt="vector")  
                  input.search#searchInput(type='search' name='q' placeholder='Поиск по сайту' value='')  
      #collapseExample0.collapse.resize-xs
        ul.vacancy__content.py-2
          li.d-flex.align-items-center.my-3
            a.l-focus(data-toggle='collapse' href='#collapseExample' role='button' aria-expanded='false' aria-controls='collapseExample')
              span.material-icons.md-20.align-sub.arrow-down navigate_next
              |Валентина Кущ
            button.ml-2.align-middle.p-0(type='button' data-container='body' data-toggle='popover' data-placement='bottom' data-content='...')
              img(src="/images/svg/Vector (2).svg", alt="" width="19" height="19")
            span.ml-2.text-secondary 4
          #collapseExample.collapse.resize-xs
            .card.card-body
              .row.justify-content-between
                .col-12.col-md-10
                  a.font-weight-bold.fs-24(href="#") Бухгалтер з облiку,
                  span.text-muted.fs-24.text-nowrap  12 300 грн
                  p Киев, вулиця Академiка Бутлерова, 1
                  .badge.badge-warning.text-wrap
                    svg.mx-1(width='8' height='13' viewbox='0 0 8 13' fill='none' xmlns='http://www.w3.org/2000/svg')
                      path(d='M2.04 0.75L0.75975 1.85925L4.99775 6.7505L0.75975 11.6405L2.04 12.7502L7.24025 6.7505L2.04 0.75Z' fill='#FF3B30')
                  .badge.badge-success.text-wrap.mx-1
                    span Standard
                  span.text-muted.text-nowrap  20.02.20 – 13.03.20
                  ul.nav.my-2
                    li: a(href="#") Подобрать резюме
                    li  &nbsp;&middot;&nbsp;
                    li: a(href="#") Сделать Premium
                    li  &nbsp;&middot;&nbsp;
                    li: a(href="#") Обновить дату размещения
                    li &nbsp;&middot;&nbsp;
                    li
                      .dropdown.mr-3
                        a#dropdownMenuCard1(href='#' role='button' data-toggle='dropdown' aria-expanded='false') 
                          |Еще
                          span.material-icons.md-20.align-sub.arrow-up expand_more
                        .dropdown-menu.dropdown-menu-left(aria-labelledby='dropdownMenuCard1')
                          a.dropdown-item(href='#') 1111
                          a.dropdown-item(href='#') 2222
                          a.dropdown-item(href='#') 3333
                .col-auto
                  .responses.text-center
                    a.d-flex.flex-md-column.align-items-center(href="#") 
                      h2.m-0.font-weight-bold 217
                      span.font-weight-normal.ml-2 откликов
                      span.badge.badge-danger.text-wrap 9
              hr.mx-n1
              .row.justify-content-between
                .col-12.col-md-10
                  a.font-weight-bold.fs-24(href="#") Керiвник департаменту маркетингових проєктiв
                    |
                    br
                    | (Шевченкiвський район),
                  span.text-muted.fs-24.text-nowrap  5 500 – 11 500 грн*
                  .my-2 Киев       
                    .badge.badge-info.text-wrap.mx-1
                      span Тест
                    .badge.badge-light.text-wrap
                      span Автопродление
                  .badge.badge-primary.text-wrap
                    span Standard Plus
                    span 
                  svg.mx-1(width='10' height='16' viewbox='0 0 10 16' fill='none' xmlns='http://www.w3.org/2000/svg')
                    path(d='M5.95313 6.42875L7.70407 0.5L0.0178223 9.57094H4.04689L2.29626 15.5L9.9822 6.42875H5.95313ZM2.04001 8.63344L5.54626 4.49562L4.69938 7.36625H7.96001L4.45376 11.5041L5.30063 8.63344H2.04001Z' fill='#ABB2BA')
                  span.text-muted.text-nowrap  20.02.20 – 13.03.20
                  ul.nav.my-2
                    li: a(href="#") Подобрать резюме
                    li &nbsp;&middot;&nbsp;
                    li: a(href="#") Сделать Premium
                    li &nbsp;&middot;&nbsp;
                    li: a(href="#") Обновить дату размещения
                    li &nbsp;&middot;&nbsp;
                    li
                      .dropdown.mr-3
                        a#dropdownMenuCard2(href='#' role='button' data-toggle='dropdown' aria-expanded='false') 
                          |Еще
                          span.material-icons.md-20.align-sub.arrow-up expand_more
                        .dropdown-menu.dropdown-menu-left(aria-labelledby='dropdownMenuCard2')
                          a.dropdown-item(href='#') 1111
                          a.dropdown-item(href='#') 2222
                          a.dropdown-item(href='#') 3333
                .col-auto
                  .responses.text-center
                    a.d-flex.flex-md-column.align-items-center(href="#") 
                      h2.m-0.font-weight-bold 125
                      span.font-weight-normal.ml-2 откликов
                      span.badge.badge-danger.text-wrap 37
          li.d-flex.align-items-center.my-3
            a.l-focus(data-toggle='collapse' href='#collapseExample1' role='button' aria-expanded='false' aria-controls='collapseExample')
              span.material-icons.md-20.align-sub.arrow-down navigate_next
              | Березан Елена
            button.ml-2.align-middle.p-0(type='button' data-container='body' data-toggle='popover' data-placement='bottom' data-content='...')
              img(src="/images/svg/Vector (2).svg", alt="" width="19" height="19")
            span.ml-2.text-secondary 529
          #collapseExample1.collapse.resize-xs
            .card.card-body
              p У этого пользователя нет вакансий.
          li.d-flex.align-items-center.my-3
            a.l-focus(data-toggle='collapse' href='#collapseExample2' role='button' aria-expanded='false' aria-controls='collapseExample')
              span.material-icons.md-20.align-sub.arrow-down navigate_next
              | Бондарук Анжелика
            button.ml-2.align-middle.p-0(type='button' data-container='body' data-toggle='popover' data-placement='bottom' data-content='...')
              img(src="/images/svg/Vector (2).svg", alt="" width="19" height="19")
            span.ml-2.text-secondary 19
          #collapseExample2.collapse.resize-xs
            .card.card-body
              p У этого пользователя нет вакансий.
      .vacancy.my-4
        span
          button.btn.btn-success.px-4.py-2.mr-4.fs-17(type='button') Создать вакансию
        a(href="#") Удаленные вакансии
