header {
  background-color: #ffff;
  .bottom-line {
    background: linear-gradient(93.65deg, #DE216B -5.03%, #009FF4 103.91%, #8D4F9D 103.91%);
    height: 10px;
    border: 0;
    margin: 0;
  }
 
  .header-top {
    a { color: #ABB2BA !important;
      &:hover { color: #ABB2BA !important;}
    }
  }
  
  .header-bottom {
    li { 
      margin-left: 40px;
      &:last-child { margin-left: 24px;}
    }
    a {
      color: #0094DF !important;
      align-items: center;
      font-weight: 700;
      font-size: 20px;
      &:hover { color: #0094DF !important; }
    } 

    .badge-danger {
      position: absolute;
      font-weight: 400;
      padding: 0.25em 0.6em;
      border-radius: 1rem;
      font-size: 12px;
      left: 1.5rem;
    }
  }
}

.content {
  a {
    color: #0094DF !important;
    font-weight: 400;
    &:hover { color: #0094DF !important;}
  } 

  .card .nav a {
    &:hover,
    &:focus {
      color: #FF9500 !important;
    }
  }

  .vacancy {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    &__content {
      border-top: 1px solid #E9EBED;
      border-bottom: 1px solid #E9EBED;  
      li { margin: 15px 0;}
    }
  }

  .search {
    transition: z-index 0.8s, width 0.5s, border 0.3s;
    position: relative;
    z-index: 5;
    color: #222;
    height: 28px;
    font-size: 14px;
    cursor: text;
    border: none;
    width: 0;
    box-sizing: border-box;
    background: transparent;
    border-radius: 0;
    &:focus {
      border-bottom: 1px solid #ABB2BA;
      width: 180px;
    }
    &:focus-visible {
      outline: none;
    }
  }

  .badge {
    font-weight: 400;
    padding: 0.4em 0.7em;
    border-radius: 1rem;
  }
  
  .badge-danger {
    position: absolute;
    font-weight: 400;
    padding: 0.25em 0.6em;
    border-radius: 1rem;
    font-size: 12px;
    left: 4.6rem;
    top: -0.3rem;
  }

  .border-btm { 
    border-bottom: 1px dashed #74C241 !important; 
    line-height: 1 !important; }
  }


footer {
  .bottom-line {
    background: #E42469;
    height: 1px;
    border: 0; 
    margin: 0;
  }
  .dropdown a {
    color: #0094DF !important;
    &:hover { color: #0094DF !important;}
  }
  background-color: #ffff;
  .nav-color {
    a { color: #6B7886 !important;
      &:hover { color: #6B7886 !important; }
    }
  }
  p { color: #6B7886; }
}

//arrow-rotate
.dropdown.show {
  .arrow-up{ transform: rotate(180deg); line-height: 0; }
}
.active-down{ transform: rotate(90deg); line-height: 0;} 
.active-up { transform: rotate(180deg); line-height: 0;} 

