extends ./layouts/layout.pug
block vars
    -let title = 'work'
block content
    include ./blocks/header.pug
    include ./blocks/main.pug
    include ./blocks/footer.pug
    include ./blocks/header.pug
    include ./blocks/main-2.pug
    include ./blocks/footer.pug